.opdb-main{
   background-color: rgb(230, 238, 239);
   padding: 10px 30px 10px 30px; /* T R B L*/
   border: 1px solid; /* */
}

.cspm{
   font-size: 15px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 700;

}


